*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: 'Open Sans',sans-serif;
}

a {
    text-decoration: none;
    color: #363636;
}
a:hover{
    color: #b12626;
}

@keyframes fadeOut {
    to { 
        opacity: 0; 
    }
}

@keyframes lineDown {
    0%{
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown {
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }
}

@media screen and (min-width: 320px){

    .is-page-wrapper{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #828282;
        border: 15px solid #000;
    }
   
    .is-overlay, .is-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(54, 54, 54, 0.95);
    }

    .is-topbar {
        width: 100%;
        height: 100px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 900;
    }

    .is-logo {
        width: 70px;
        height: 80px;
        float: left;
        margin-left: 60px;
        background-color: #000;
        border-radius: 0 0 37px 0;
    }

    .is-logo img {
        width: 50px;
        height: 50px;
        display: block;
        margin: 16px auto 0 auto;
    }

    .is-menu {
        display: none;
    }

    .is-btn-menu-mob {
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #b12626;
        color: #000;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1350;
        cursor: pointer;
    }

    .is-btn-menu-mob ion-icon {
        vertical-align: middle;
        font-size: 40px;
    }

    .is-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1300;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .is-menu-is-open {
        right: 0;
    }

    .is-menu-is-closed {
        right: -240px;
    }

    .is-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }

    .is-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #b12626;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px; 
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }

    .is-btn-contact:hover{
        background-color: #363636;
        transition: all 0.2s ease-out;
    }

    .is-contact-info {
        width: 245px;
        height: 165px;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .is-contact-info p {
        font-size: 18px;
        line-height: 24px;
    }

    .is_social-links, .is_social-links-circle {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }

    .is-social, .is_social-links-circle .is-social {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .is-social-links-circle .is-social {
        border-radius: 50%;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .is-social-links-circle .is-social ion-icon{
        margin-left: 2.5px;
        height: 45px;
        font-size: 28px;
        transition: all 0.2s ease-out;
    }

    .is-social:hover {
        color: #b12626;
        background-color: #363636;
    }

    .is-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 14px auto 0;
    }

    .is-map {
        min-width: 60vh;
        margin-left: 190px;
        border-radius: 20px;
    }

    .is-footer {
        width: 100%;
        height: 100px;
        display: inline-block;
        background-color: transparent;
        bottom: 0;
        left: 0;
        transition: all 0.2s ease-out;
    }
    
    .is-footer-text{
        font-family: 'Open Sans' , sans-serif;
        text-align: center;
        text-decoration: none;
        color: #828282; 
    }

    .is-footer-img {
        width: 50px;
        height: 50px;
        display: block;
        margin: auto;
    }

    .is-footer-img img {
        width: 50px;
        height: 50px;
        display: block;
        margin: 16px auto 0 auto;
    }

    /*-- HOME --*/

    .is-display-text {
        margin-top: 10%;
    }

    .is-home-presentation {
        background-image: url(../images/bannersoma.png);
        background-repeat: no-repeat;
        background-position: 50% bottom;
        position: relative;
        background-size: 100% auto;
    }

    .is-home-presentation h1 {
        margin-top: 60px;
        text-align: center;
    }

    .is-home-presentation p {
        text-align: center;
    }

    .is-scroll-down {
        width: 70px;
        height: 85px;
        border-radius: 35% 35% 0 0;
        background-color: #b12626;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .is-arrow-down {
        width: 100%;
        height: 60px;
        display: table;
        margin-top: 25px;
        position: relative;
    }

    .is-arrow-down img{
        width: 16px;
        height: 10px;
        display: block;       
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.5s linear 1.5s infinite;
    }

    .is-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;       
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
    }

    /*-- HOME - QUEM SOMOS --*/

    .is-fotos-navigator {
        width: 145px;
        height: 400px;
        display: table;
        position: absolute;
        left: 15px;
        top: 26vh;
    }

    .is-fotos-next-prev {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bcbcbc;
        border-radius: 23px;
    }

    .is-fotos-next-prev > div {
        height: 32px;
    }

    .is-fotos-counter {
        font-family: 'open Sans', sans-serif;
        color: #000;
        line-height: 32px;
    }

    .is-fotos-prev, .is-fotos-next {
        width: 45px;
        font-size: 32px;
        color: #b12626;
        text-align: center;
        transition: all 0.2s ease-out;
        cursor: pointer;
    }

    .is-fotos-prev:hover, .is-fotos-next:hover {
        color: #828282;
        transition: all 0.2s ease-out;
    }

    .is-fotos-counter span:nth-child(1) {
        color: #363636;
    }

    .is-slider-container {
        display: block;
        overflow: hidden;
    }

    .is-slider-list {
        width: auto;
        height: 600px;
        display: block;
        list-style: none;
    }

    .is-slider-list .is-slider-item, .is-quem-somos-list .is-slider-item {
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(26vh - 75px);
    }

    .is-quem-somos-list .is-slider-item {
        margin-bottom: 100px;
    }

    .is-slider-list .is-fotos-item-info, .is-quem-somos-list .is-fotos-item-info {
        width: 100%;
        display: table;
        margin-top: 73px;
        position: relative;
    }

    .is-slider-list .is-fotos-item-info p{
        text-align: center;
    }

    .is-slider-list .is-fotos-item-thumb, .is-quem-somos-list .is-fotos-item-thumb {
        width: 90%;
        height: 100%;
        display: block;
        background-color: #363636;
        position: relative;
        padding: 20px;
    }

    .is-slider-list .is-fotos-item-thumb img, .is-quem-somos-list .is-fotos-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
    }
    

    /*-- QUEM SOMOS --*/

    .is-section-offset-top {
        padding-top: 130px;
        margin-bottom: 130px;
    }

    .is-quem-somos-list .is-slider-item:nth-child(odd) .is-fotos-item-info{
        text-align: right;
        margin-top: 70px;
    }
    
    .is-quem-somos-list .is-slider-item:nth-child(even) .is-fotos-item-info{
        text-align: left;
        margin-left: 105px;
    }

    .is-quem-somos-list .is-slider-item:nth-child(even) > .row {
        flex-direction: row-reverse;
    }

    /*-- Missâo --*/

    #is-avatar-missao img {
        position: relative;
        margin-top: 10px;
        left: -15;
    }

}

/* Utilitarias */
    .is-title-large {
        font-size: 35px;
        text-align: center;
    }

@media screen and (min-width: 576px){

}

@media screen and (min-width: 768px){
    .is-title-large {
        font-size: 50px;
    }
}

@media screen and (min-width: 992px){

    .is-page-wrapper{
        border: 30px solid #000;
    }

    .is-menu-mob, .is-btn-menu-mob {
        display: none;
    }

    .is-menu {
        display: table;
        float: left;
        height: 100px;
        margin-left: 30px;
    }

    .is-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 45px 25px 0 20px; 
        font-weight: 400;
        position: relative; 
    }

    .is-menu a:first-child {
        margin-left: 0;
    }

    .is-menu a:hover {
        color: #b12626;

    }
    .is-menu a:before {
        content: '';
        width: 100%;
        height: 1.5px;
        background-color: #b12626;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0, 1);
        
    }
    .is-menu a:hover:before {
        transform: scale(1, 1);
    }

    .is-title-large {
        font-size: 40px;
    }

    .is-home-presentation {
        background-size: auto;
    }

    .is-home-presentation h1 {
        margin-top: 0px;
        text-align: left;
    }

    .is-home-presentation p {
        text-align: left;
    }

    .is-title-large, .is-slider-list .is-fotos-item-info p{
        text-align: left;
    }

}

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1364px){

}

@media screen and (min-width: 1600px){

}

/* BOTÕES */

.is-btn {
    display: table;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-out;
}

.is-btn-small {
    height: 20px;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 10px;
    border: none;
}

.is-btn-medium {
    height: 30px;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 13px;
    border: none;
}

.is-btn-red {
    background-color: #b12626;
    color: #bcbcbc;
}

.is-btn-red:hover {
    background-color: #800d0d;
    color: #828282;
}

.is-btn-black {
    background-color:#000;
    color: #bcbcbc;
}

.is-btn-black:hover {
    background-color:#828282;
    color: #b12626;
}

/* CLASSES UTILITARIAS */

.is-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.is-subtitle {
    font-family: 'Open Sans', serif;
    font-weight: 800;
}

.is-title-xlarge {
    font-size: 70px;
}

.is-text-red {
    color: #b12626;
}

.is-text-darkgray {
    color: #828282;
}

.is-text-lightgray {
    color: #bcbcbc;
}

.is-text-black {
    color: #000;
}

.is-bg-red {
    background-color: #b12626;
}

.is-bg-darkgray {
    background-color: #828282;
}

.is-bg-lightgray {
    background-color: #bcbcbc;
}

.is-bg-black {
    background-color: #000;
}

.is-mar-15 {
    margin: 15px;
}

.is-mar-top-0 {
    margin-top: 0;
}

.is-mar-top-15 {
    margin-top: 15px;
}

.is-mar-top-30 {
    margin-top: 30px;
}

.is-mar-top-45 {
    margin-top: 45px;
}

.is-mar-top-100 {
    margin-top: 100px;
}

.is-mar-right-15 {
    margin-right: 15px;
}

.is-mar-bottom-15 {
    margin-bottom: 15px;
}

.is-mar-left-15 {
    margin-left: 15px;
}

.is-pad-15 {
    padding: 15px;
}

.is-pad-top-15 {
    padding-top: 15px;
}

.is-pad-top-45 {
    padding-top: 45px;
}

.is-pad-right-15 {
    padding-right: 15px;
}

.is-pad-bottom-15 {
    padding-bottom: 15px;
}

.is-pad-left-15 {
    padding-left: 15px;
}

.is-mar-30 {
    margin: 30px;
}

.is-mar-top-30 {
    margin-top: 30px;
}

.is-mar-right-30 {
    margin-right: 30px;
}

.is-mar-bottom-30 {
    margin-bottom: 30px;
}

.is-mar-bottom-45 {
    margin-bottom: 45px;
}

.is-mar-left-30 {
    margin-left: 30px;
}

.is-pad-30 {
    padding: 30px;
}

.is-pad-top-30 {
    padding-top: 30px;
}

.is-pad-right-30 {
    padding-right: 30px;
}

.is-pad-bottom-30 {
    padding-bottom: 30px;
}

.is-pad-left-30 {
    padding-left: 30px;
}

.is-full-height {
    height: 100vh;
    position: relative;
}

.is-first-section {
    height: calc(100vh - 50px);
}

.is-no-padding {
    padding: 0 !important;
}

.is-box-img {
    width: 100%;
    display: table;
}

.is-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.is-fade-out{
    animation: fadeOut 2s forwards ease-out;
}

/* CLASSES DE COMPORTAMENTO*/

.is-is-open {
    display: block;
}

.is-change-icon {
    background-position-y: -45px;
}

.is-fade-out {
    animation: fadeOut 2s forwards ease-out;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.green {
    background: green;
}
